{% if success  %}
<h4 style="color:green;">Recored Addedd Successfully</h4>           
{% elif failed %}
<h4 style="color:red;">There is some problem while adding record</h4>
{% endif %}

<FORM  ACTION="/submitaddemployee">
<TABLE BORDER="1">
  <TR>
    <TD>Name</TD>
    <TD>
      <INPUT TYPE="TEXT" NAME="name" SIZE="20">
    </TD>
  </TR>
  <TR>
    <TD>E-mail</TD>
    <TD><INPUT TYPE="email" NAME="email" SIZE="25"></TD>
  </TR>
  <TR>
    <TD>Address</TD>
    <TD><INPUT TYPE="TEXT" NAME="address" SIZE="25"></TD>
  </TR>
  <TR>
    <TD>Mobile</TD>
    <TD><INPUT TYPE="number" NAME="mobile" SIZE="25"></TD>
  </TR>
  <TR>
    <TD>Designation</TD>
    <TD><INPUT TYPE="TEXT" NAME="designation" SIZE="25"></TD>
  </TR>
  
</TABLE>
<P><INPUT TYPE="SUBMIT" VALUE="Submit" NAME="B1"></P>
</FORM>