<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Employee List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<br bgcolor="#E6E6FA">
<table border="1" id="tabledata">
<tr>
    <th>ID</th>
    <th> <a href="/getemployees/?orderBy=name">Name</a></th>
    <th> <a href="/getemployees/?orderBy=email">Emails</a></th>
    <th> <a href="/getemployees/?orderBy=address">Address</a></th>
    <th> <a href="/getemployees/?orderBy=mobile">Mobile</a></th>
    <th> <a href="/getemployees/?orderBy=designation">Designation</a></th>
  </tr>
  <tr>
{% for emp in employess %}
     <tr>
    <td> <a href="/editemployee?id={{emp.id}}">{{emp.id}}</a></td>
     <td>{{emp.name}} </td>
     <td>{{emp.email}}</td>
     <td>{{emp.address}}</td>
     <td>{{emp.mobile}}</td>
     <td>{{emp.designation}}</td>
     </tr>
{% endfor %}
 </table>
  <div class="pagination">
</div> <br>

<span class="step-links">
        {% if employess.has_previous %}
            <a href="?page={{ employess.previous_page_number }}">previous</a>
        {% endif %}

    <span class="current">
            Page {{ employess.number }} of {{ employess.paginator.num_pages }}.
        </span>

    {% if employess.has_next %}
        <a href="?page={{ employess.next_page_number }}">next</a>
    {% endif %}


    </span></br></br>

<input type="text" id="searchbox" placeholder="Search.." value=''>
<button id="mySearch" onclick="searchemployee()">Search Employee</button>
<button > <a href="/addemployee/">Add New Employees</a> </button></br>


<script>
function searchemployee() {
        var Searchtxt = document.getElementById("searchbox").value;
        window.location = "http://127.0.0.1:8000/searchemployee/?searchKey=" + Searchtxt;
}

</script>

</body>
</html>