<!DOCTYPE html>
<html>
<head>
	<title>Employee List</title>
</head>
<body bgcolor="#E6E6FA">
<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Emails</th> 
    <th>Address</th>
    <th>Mobile</th>
    <th>Designation</th>
  </tr>
  <tr>
{% for emp in employess %}
     <tr>
    <td> <a href="/editemployee?id={{emp.id}} name={{emp.name}} email={{emp.email}} address={{emp.address}} mobile={{emp.mobile}}  designation={{emp.designation}}">{{emp.id}}</a></td>
     <td>{{emp.name}} </td>
     <td>{{emp.email}}</td>
     <td>{{emp.address}}</td>
     <td>{{emp.mobile}}</td>
     <td>{{emp.designation}}</td>
     </tr>    
{% endfor %}
 </table>
</body>
</html>
